.webfooter .discount{
    background-color: rgb(135, 135, 255);
    width: 1200px;
    height: 450px;
    text-align: center;
    margin: auto;
    border-radius: 50px;
    position: relative;
}
.webfooter .discount .title{
    background-color: navy;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: auto;
    border-radius: 50px;
    position: relative;
    top:50px;
}
.webfooter .discount .title h3{
    color: white;
    font-size: 25px;
    padding: 10px 0px;
}
.webfooter .discount h1{
    font-family: "Oxygen", sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: white;
    position: relative;
    top: 100px;
}
.webfooter .discount .searchbar{
    position: relative;
    top: 150px;
    width: 800px;
    height: 80px;
    border-radius: 100px;
    padding: 0px 20px;
    border:none;
    margin: auto;
}
.webfooter .discount .btn7{
    width:150px;
    height: 70px;
    color: white;
    border-radius: 100px;
    background-color: rgb(115, 115, 255);
    font-size: 25px;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    transition-duration: 0.5s;
    border: none;
    position: relative;
    top: 75px;
    left: 320px;
    text-align: center;
}
.webfooter .discount .btn7:hover{
    background-color: black;
    color: white;
}
.webfooter .contact{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 1500px;
    height: 490px;
    position: relative;
    top: 900px;
    margin: auto;
    padding: 50px 20px;
    border-radius: 50px ;
    gap: 20px;
}
.webfooter .contact .part1,.part2,.part3,.part4{
    width: 600px;
    height: 400px;
}
.webfooter .contact .part1 img{
    padding: 0px 50px;
}
.webfooter .contact .part1 p{
    padding: 25px 50px;
    font-size: 20px;
}
.webfooter .contact .part1 h3{
    padding: 25px 50px;
    font-size: 20px;
    transition-duration:0.5s;
    color: rgb(115, 115, 255);
}
.webfooter .contact .part1 h3:hover{
    color: black;
    font-size: 25px;
    cursor: pointer;
}
.webfooter .contact .part2 h3{
    padding: 25px 50px;
    font-size: 40px;
    font-weight: 800;
}
.webfooter .contact .part2 p{
    font-size: 25px;
    padding: 0px 50px;
    color: gray;
    transition-duration: 1s;
}
.webfooter .contact .part2 p:hover{
    color: rgb(115, 115, 255);
    cursor: pointer;
}
.webfooter .contact .part3 h3{
    padding: 25px 50px;
    font-size: 40px;
    font-weight: 800;
}
.webfooter .contact .part3 p{
    font-size: 25px;
    padding: 0px 50px;
    color: gray;
    transition-duration: 1s;
}
.webfooter .contact .part3 p:hover{
    color: rgb(115, 115, 255);
    cursor: pointer;
}
.webfooter .contact .part4 h3{
    padding: 25px 50px;
    font-size: 40px;
    font-weight: 800;
}
.webfooter .contact .part4 p{
    font-size: 25px;
    padding: 0px 50px;
    color: gray;
    transition-duration: 1s;
}
.webfooter .contact .part4 p:hover{
    color: rgb(115, 115, 255);
    cursor: pointer;
}


.base{
    display: flex;
    justify-content: space-between;
    background-color: rgb(135, 135, 255);
    width: 1200px;
    height: 120px;
    margin: auto;
    border-top-left-radius:  50px;
    border-top-right-radius: 50px;
    position:relative;
    top: 385px;
}
.base .links{
    padding: 50px;
}
.base .links .btn8{
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    transition-duration: 0.5s;
}
.base .links .btn8:hover{
    background-color: white;
}
.base .links .btn8 img{
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    transition-duration: 0.5s;
}
.base .links .btn8 img:hover{
    width: 55px;
    height: 55px;
}
.base .rights{
    padding: 60px;
}
.base .rights p{
    color: white;
}