*{
    margin: 0px;
    padding: 0px;
}
.main-1{
    width: 2020px;
    height: 535px;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    border-end-end-radius: 100px;
    border-top-right-radius: 100px;
}
.left .banner span{
    color: rgb(115, 115, 255);
}
.main-1 .left .banner{
    width: 500px;
    position: relative;
    top: 100px;
    left: 100px;
    font-size: 65px;
    font-family: "Oxygen", sans-serif;
    font-weight: 600;
    overflow: hidden;
    display: block;
}
.main-1 .left .description{
    width: 455px;
    position: relative;
    top: 100px;
    left: 100px;
    font-size: 25px;
    color: grey;
    font-family: "Oxygen", sans-serif;
    overflow: hidden;
    
}
.main-1 .left .form .searchbar{
    position: relative;
    top: 100px;
    left: 95px;
    width: 510px;
    height: 50px;
    border-radius: 100px;
    border: none;
    padding: 0px 20px;
    border-color: gray;
}
.btn1{
    background-color: rgb(115, 115, 255);
    color: white;
    width: 100px;
    height: 40px;
    position: relative;
    top: 55px;
    left: 500px;
    font-weight: 500;
    font-size: 25px;
    display: block;
    transition-duration: 0.5s;
    border-radius: 50px;
    border: none;
}
.btn1:hover{
    background-color: black;
    color: white;
    border: none;
}
.main-1 .right .pic-1{
    position: relative;
    left: 300px;
    width: 550px;
    height: 550px;
    overflow: hidden;
    
}
.main-1 .right .pic-2{
    position: relative;
    right: 300px;
    width: 515px;
    height: 515px;
    overflow: hidden;
    
}
.space{
    width: 100%;
    border-radius: 30px;
    display: flex;
    position: relative;
    top: 100px;
    justify-content: center;
}
.space h3{
    background-color: rgb(115, 115, 255);
    display: flex;
    justify-content: center;
    width: 210px;
    height: 50px;
    font-size: 40px;
    color: white;
    border-radius: 40px;
    font-weight: 500;
}
.main-2{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
}
.main-2 h1{
    font-size: 60px;
    font-family: "Oxygen", sans-serif;
}
.main-2 h1 span{
    font-weight: 600;
    margin: auto;
}
.bookpics{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    position: relative;
    top: 200px;
    text-align: center;
}
.bookpics .pic1,.pic2,.pic3,.pic4,.pic5{
    overflow: hidden;
    width: 100%;
    height: 500px;
    margin: auto;
}
.bookpics .img{
    border-radius: 20px;
    width: 400px;
    height: 350px;
}
.bookpics .text1{
    font-family: "Oxygen", sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: black;
    position: relative;
    top: 10px;
}
.bookpics .btn2{
    width:200px;
    height: 50px;
    color: black;
    border-color: black ;
    border-radius: 100px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    top: 20px;
    font-size: 20px;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    transition-duration: 0.5s;
}
.bookpics .btn2:hover{
    background-color: rgb(115, 115, 255);
    color: white;
    border: none;
}
.space-2{
    width: 100%;
    border-radius: 30px;
    display: flex;
    position: relative;
    top: 50px;
    justify-content: center;
}
.space-2 h3{
    background-color: rgb(115, 115, 255);
    width: 250px;
    height: 50px;
    font-size: 40px;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    text-align: center;
}
.main-3 h1{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 70px;
    font-weight: 700;
    position: relative;
    top: 100px;
}
.products{
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 2000px;
    position: relative;
    top: 300px;
    border-radius: 200px;
    display: block;
}
.products .items{
    width: 100%;
    height: 1500px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.products .items .itm{
    background-color: white;
    width: 400px;
    height: 650px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    top: 200px;
}
.products .items .itm img{
    width: 350px;
    height: 400px;
    cursor: pointer;
}
.products .items .itm img:hover{
    opacity: 0.5;   
}
.products .items .itm h1{
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    transition-duration: 0.5s;
    cursor: pointer;
    font-size: 30px;
}
.products .items .itm span{
    font-size: 20px;
    font-weight: 200;
    font-family: "Oxygen", sans-serif;

}
.products .items .itm h1:hover{
    color: rgb(115, 115, 255);
    
}
.products .items .itm .btn3{
    width:200px;
    height: 50px;
    color: white;
    border-radius: 100px;
    background-color: rgb(115, 115, 255);
    overflow: hidden;
    position: relative;
    top: 35px;
    font-size: 20px;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    transition-duration: 0.5s;
    border: none;
}
.products .items .itm .btn3:hover{
    background-color: black;
    color: white;
    border: none;
}
input[type="range"] {
  --s: 50px; /* control the size*/
  
  height: var(--s);
  aspect-ratio: 5;
  padding-inline: calc(var(--s)/2);
  box-sizing: border-box;
  appearance: none;
  cursor: pointer;
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path d='M50 5 L79 95 L2 40 L98 40 L21 95 Z'/></svg>");
  mask-size: var(--s);
}
input[type="range" i]::-webkit-slider-thumb{
  width: 1px;
  height: var(--s);
  border-image: linear-gradient(90deg, gold calc(50% + var(--s)/2), grey 0) fill 0//0 500px;
  appearance: none;
}
input[type="range"]::-moz-range-thumb {
  width: 1px;
  height: var(--s);
  border-image: linear-gradient(90deg, gold calc(50% + var(--s)/2), grey 0) fill 0//0 500px;
  appearance: none;
}
body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: lightblue;
}
.footer{
    text-align: center;
    width: 100%;
    position: relative;
    top: 250px;
}
.footer .btn4{
    width:250px;
    height: 50px;
    color: white;
    border-radius: 100px;
    background-color: rgb(115, 115, 255);
    overflow: hidden;
    position: relative;
    top: 35px;
    font-size: 30px;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    transition-duration: 0.5s;
    border: none;
}
.footer .btn4:hover{
    background-color: black;
    color: white;
    border: none;
}
.feedback{
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 800px;
    position: relative;
    top: 300px;
    border-radius: 200px;
    display: block;
}
.feedback .space-3{
    width: 100%;
    border-radius: 30px;
    display: flex;
    position: relative;
    top: 100px;
    justify-content: center;
}
.feedback .space-3 h3{
    background-color: rgb(115, 115, 255);
    width: 250px;
    height: 50px;
    font-size: 40px;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    text-align: center;
}
.feedback .main-4 h1{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 70px;
    font-weight: 700;
    position: relative;
    top: 150px;
}
.feedback .opinions{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.feedback .opinions .users{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 400px;
    height: 300px;
    position: relative;
    top: 200px;
}
.feedback .opinions .users p{
    padding: 50px;
    font-size: 20px;
}
.feedback .opinions .users span{
    padding: 50px;
}
.feedback .opinions .users .userpic{
    background-color: rgb(250, 250, 250);
    border-radius: 100px;
    width: 120px;
    height: 120px;
    position: relative;
    left: 150px;
}
.feedback .opinions .users img{
    border-radius: 100px;
    width: 70px;
    height: 70px;
    position: relative;
    left: 25px;
    top: 25px;
}
.offer .wallpaper{
    text-align: center;
}
.offer .wallpaper img{
    width: 1500px;
    height: 500px;
    position: relative;
    top: 400px;
    margin: auto;
    border-radius: 50px;
}
.offer .main-5{
    background-color: navy;
    opacity: 0.5;
    width: 1500px;
    height: 500px;
    position:relative;
    bottom: 100px;
    margin: auto;
    border-radius: 50px;
    text-align: center;
}
.offer .main-5 h3{
    background-color: rgb(115, 115, 255);
    width: 250px;
    height: 45px;
    font-size: 35px;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    text-align: center;
    margin: auto;
    position: relative;
    top: 50px;
}
.offer .main-5 h1{
    width: 100%;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    color: white;
    position: relative;
    top: 100px;
}
.offer .main-5 p{
    color: white;
    width: 100%;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 150px;
}
.offer .main-5 .btn5{
    width:250px;
    height: 50px;
    color: rgb(115, 115, 255);
    border-radius: 100px;
    background-color: white;
    overflow: hidden;
    position: relative;
    top: 35px;
    font-size: 30px;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    transition-duration: 0.5s;
    border: none;
    position: relative;
    top: 200px;
    text-align: center;
}
.offer .main-5 .btn5:hover{
    background-color: transparent;
    color: white;
    border-style:outset;
    border-color: white;
}
.authers .space-4{
    width: 100%;
    border-radius: 30px;
    top: 100px;
    text-align: center;
}
.authers .space-4 h3{
    background-color: rgb(115, 115, 255);
    width: 250px;
    height: 45px;
    font-size: 35px;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    text-align: center;
    margin: auto;
    position: relative;
    top: 50px;
}
.authers .space-4 h1{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 70px;
    font-weight: 700;
    position: relative;
    top: 100px;
}
.authers .main-6{
    width: 100%;
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.authers .main-6 .profile{
    text-align: center;
    width: 400px;
    height: 400px;
}
.authers .main-6 .profile img{
    border-radius: 200px;
    width: 400px;
    height: 400px;
    transition-duration: 0.5;
}
.authers .main-6 .profile img:hover{
    opacity: 0.5;
}
.authers .main-6 .profile .soical{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.authers .main-6 .profile .soical .btn6{
    border-radius: 100px;
    width: 65px;
    height: 65px;
    background-color: white;
    border: none;
    position: relative;
    bottom: 30px;
}
.authers .main-6 .profile .soical .btn6 img{
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    transition-duration: 0.5;
}
.authers .main-6 .profile .soical .btn6 img:hover{
    width: 55px;
    height: 55px;
}
.authers .main-6 .profile h1{
    font-family: "Oxygen", sans-serif;
    font-weight: 800;
    font-size: 40px;
}
.authers .main-6 .profile p{
    font-size: 20px;
    color: gray;
}
.webfooter .discount{
    background-color: rgb(135, 135, 255);
    width: 1200px;
    height: 450px;
    text-align: center;
    margin: auto;
    border-radius: 50px;
    position: relative;
}
.webfooter .discount .title{
    background-color: navy;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: auto;
    border-radius: 50px;
    position: relative;
    top:50px;
}
.webfooter .discount .title h3{
    color: white;
    font-size: 25px;
    padding: 10px 0px;
}
.webfooter .discount h1{
    font-family: "Oxygen", sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: white;
    position: relative;
    top: 100px;
}
.webfooter .discount .searchbar{
    position: relative;
    top: 150px;
    width: 800px;
    height: 80px;
    border-radius: 100px;
    padding: 0px 20px;
    border:none;
    margin: auto;
}
.webfooter .discount .btn7{
    width:150px;
    height: 70px;
    color: white;
    border-radius: 100px;
    background-color: rgb(115, 115, 255);
    font-size: 25px;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    transition-duration: 0.5s;
    border: none;
    position: relative;
    top: 75px;
    left: 320px;
    text-align: center;
}
.webfooter .discount .btn7:hover{
    background-color: black;
    color: white;
}
.webfooter .contact{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 1500px;
    height: 490px;
    position: relative;
    top: 900px;
    margin: auto;
    padding: 50px 20px;
    border-radius: 50px ;
    gap: 20px;
}
.webfooter .contact .part1,.part2,.part3,.part4{
    width: 600px;
    height: 400px;
}
.webfooter .contact .part1 img{
    padding: 0px 50px;
}
.webfooter .contact .part1 p{
    padding: 25px 50px;
    font-size: 20px;
}
.webfooter .contact .part1 h3{
    padding: 25px 50px;
    font-size: 20px;
    transition-duration:0.5s;
    color: rgb(115, 115, 255);
}
.webfooter .contact .part1 h3:hover{
    color: black;
    font-size: 25px;
    cursor: pointer;
}
.webfooter .contact .part2 h3{
    padding: 25px 50px;
    font-size: 40px;
    font-weight: 800;
}
.webfooter .contact .part2 p{
    font-size: 25px;
    padding: 0px 50px;
    color: gray;
    transition-duration: 1s;
}
.webfooter .contact .part2 p:hover{
    color: rgb(115, 115, 255);
    cursor: pointer;
}
.webfooter .contact .part3 h3{
    padding: 25px 50px;
    font-size: 40px;
    font-weight: 800;
}
.webfooter .contact .part3 p{
    font-size: 25px;
    padding: 0px 50px;
    color: gray;
    transition-duration: 1s;
}
.webfooter .contact .part3 p:hover{
    color: rgb(115, 115, 255);
    cursor: pointer;
}
.webfooter .contact .part4 h3{
    padding: 25px 50px;
    font-size: 40px;
    font-weight: 800;
}
.webfooter .contact .part4 p{
    font-size: 25px;
    padding: 0px 50px;
    color: gray;
    transition-duration: 1s;
}
.webfooter .contact .part4 p:hover{
    color: rgb(115, 115, 255);
    cursor: pointer;
}


.base{
    display: flex;
    justify-content: space-between;
    background-color: rgb(135, 135, 255);
    width: 1200px;
    height: 120px;
    margin: auto;
    border-top-left-radius:  50px;
    border-top-right-radius: 50px;
    position:relative;
    top: 350px;
}
.base .links{
    padding: 50px;
}
.base .links .btn8{
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    transition-duration: 0.5s;
}
.base .links .btn8:hover{
    background-color: white;
}
.base .links .btn8 img{
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    transition-duration: 0.5s;
}
.base .links .btn8 img:hover{
    width: 55px;
    height: 55px;
}
.base .rights{
    padding: 60px;
}
.base .rights p{
    color: white;
}